html, body {
    font-family: "Noto Kufi Arabic";
    font-size: 22px;
    min-height: 100%;
    margin: 0;
    scroll-padding-top: 70px;
}

body {
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #E63946;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    background-color: gray !important;
}

.brand-icon img {
    max-width: 3rem !important;
}

footer {
    background-color: #1D3557;
    text-align: center;

}

#personal-img {
    border: 10px solid gray;
    padding: 0 !important;
    width: 350px;
    height: 350px;
    transition-duration: 250ms;
}
#personal-img:hover{
    border-color: #FF0000;
}

#typewriter {
    display: block;
    font-size: 64px;
}

.caret {
    display: inline-block;
    color: gray;
}

.projects {
    background-color: #457B9D;
}

.photos { /* photos container */
    background-color: #A8DADC;
    color: darkslategrey;
}

.img-design, .video, .project a { /* image design refers to images I have designed */
    transition-duration: 300ms;
}

.img-design:hover {
    transform: scale(1.04);
    filter: grayscale(100%);
}

.video:hover, .project a:hover {
    transform: translateY(-6px);
}

.project {
    display: flex !important;
}

.project img {
    border-radius: 0.8rem 0.8rem 0 0;
}

.project a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 90% !important;
    height: min-content;
}

h6 {
    margin-bottom: 0 !important;
}

.disc {
    background: linear-gradient(158deg, rgba(255,255,255,1) 0%, rgba(92,133,142,1) 100%);
    border-radius: 0 0 0.5rem 0.5rem;
}

/*
Used Color Palette:
#E63946
#F1FAEE
#A8DADC
#457B9D
#1D3557
*/